* {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 600px;
  height: 600px;
  background: url(./painting.png) no-repeat;
  display: grid;
  grid-template-rows: 179px 218px repeat(2, 64px);
  grid-gap: 25px 17px;
  grid-template-columns: 129px 393px 44px;
  background: #333;
  margin: 0 auto;
}

.container div {
  background: #fff;
  border: 1px solid black;
}

.a {
  grid-row: 1/2;
  grid-column: 1/2;
}

.b {
  grid-row: 2/3;
  grid-column: 1/2;
}

div.c {
  grid-row: 1/3;
  grid-column: 2/4;
  background: red;
}

div.d {
  grid-row: 3/5;
  grid-column: 1/2;
  background: blue;
}

.e {
  grid-row: 3/5;
  grid-column: 2/3;
}

.f {
  grid-row: 3/4;
  grid-column: 3/4;
}

div.g {
  grid-row: 4/5;
  grid-column: 3/4;
  background: yellow;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  div.c {
    grid-row: 3/5;
    grid-column: 2/3;
  }

  .e {
    grid-row: 3/5;
    grid-column: 1/2;
  }

  div.d {
    grid-row: 1/3;
    grid-column: 2/4;


    background: blue;
  }

  .a {
    grid-row: 3/5;
    grid-column: 1/2;
  }

  div.g {
    grid-row: 1/2;
    grid-column: 1/2;
    background: yellow;
  }

  .a {
    grid-row: 4/5;
    grid-column: 3/4;
  }
}